
.iconesDoFiltro{
    display: none;
    background-color: white;
    border: 1px solid  hsl(309, 21%, 37%) ;
    border-radius: 0px 5px 5px 0px ;
    box-shadow: 1px 2px 2px 0 hsla(272, 40%, 25%, 0.316);
    
    cursor: pointer;
    transition: left 0.5s;
}
.filtroCompleto{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
     
}
.content{
    flex: 1;
}

.espaco{
    height: 10px;
    /* background-image: linear-gradient(to left,#42275a, #734b6d); */
    margin-bottom: 50px;
}
.filtroAmostra{
    
    display: grid;
    grid-template-columns: 30% 70%;
    justify-items: center;
    /* align-items: center; */
    
    
}
.ladoDosCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* parte do filtro*/
@keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(-100%);
      opacity: 0;
    }
  }
  
  /* parte do icone para celular */
@keyframes slideInIcon {
    from {
      transform: translateX(-100%);
      /* opacity: 0; */
    }
    to {
      transform: translateX(0);
      /* opacity: 1; */
    }
  }
  
  @keyframes slideOutIcon {
    from {
      transform: translateX(0);
      /* opacity: 1; */
    }
    to {
      transform: translateX(-100%);
      
      /* opacity: 0; */
    }
  }
  

@media (min-width: 320px) and (max-width: 480px) {
    .filtroAmostra{
        display: block;
    }
    .caixaLateralFiltro{
        position: fixed;
        display: flex;
        align-items: center;
    }
    .iconesDoFiltro{
        display: block;
  
    }


    .slide-in {
        animation: slideIn 0.5s forwards;
      }
    
      .slide-out {
        animation: slideOut 0.5s forwards;
      }
    .slide-in-icon {
        animation: slideInIcon 0.5s forwards;
      }
    
      .slide-out-icon {
        animation: slideOutIcon 0.5s forwards;
      }

      /* .iconesDoFiltro.slide-out {
        left: 5px; 
      } */
      

}
@media (min-width: 481px) and (max-width: 768px) {
}
@media (min-width: 769px) and (max-width: 1024px) {
}
@media (min-width: 1025px) and (max-width: 1200px) {
}