.comentarios {
    background-color: white;
    width: 95%;
    margin: 20px auto;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.comentarios h2 {
    margin-top: 0;
}

.mais_detalhes p {
    font-size: medium;
}

.meu_comentario {
    text-align: center;
}

.estrela_contorno {
    cursor: pointer;
}


/* Input de enviar mensagem  */
.comentario {
    display: grid;
    justify-items: center;
    gap: 15px;
}
 .texto_pessoal {
    width: 50%;
    height: 100px;
    font-size: larger;
    font-family: "Roboto", "Arial", sans-serif;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.comentar {
    height: 40px;
    width: 200px;
    font-size: larger;
    font-family: "Roboto", "Noto", sans-serif;
    background-color: #f04e4e;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.comentar:hover {
    background-color: #c43d3d;
}

.pessoa_comenta {
    margin-top: 10px;
    align-items: center;
}

.foto_perfil_terceiro {

    border: 1px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.nome_comentario {
    display: flex;
    gap: 5px;
    margin-left: 10px;
}
.comentarioDoUsuario{
    margin-left: 10px;
}