.caixaDoFiltro{
    
    border: 1px solid  hsl(309, 21%, 37%) ;
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 2px 2px 0 hsla(272, 40%, 25%, 0.316);
    position: relative;
    top: 10%;
    left: 25px;

    
}

.caixaDoFiltro h3{
    margin-top: 0;
    font-family: 'Raleway';
}
.caixasDentroDoFiltro{
    margin-top: 15px;

}

.sumirCaixa{
    border-bottom: 1px solid black;
    /* margin-top: 8px;
    margin-bottom: 8px; */
    margin: 5px;
}
.textoClick{
    font-size: 18px;
    font-family: 'Raleway';
    cursor: pointer;
}
.iconVisivel{
    border: 1px solid black;
    border-radius: 50%;
}

/* barra de busca  */
.buscaFiltro{
    border: 1px solid  #42275a;
    border-radius: 3px;
    width: 15vw;
    height: 30px;
    margin: 5px;
    padding: 11px;

}

.iconLupa{
    position: absolute;
    top: 62px;
    left: 13.5vw;
    cursor: pointer;

}