.caixaDeOpcoes{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0 4px 5px 0 rgba(12, 20, 50, 0.37);
    right: 10px;
    top: 6%;
    justify-content: center;
    border-radius: 5px ;
    padding: 5px;
}
div > p{
    cursor: pointer;
}
div > p:hover{
    color: red;
}



@media (min-width: 320px) and (max-width: 480px) {
    .caixaDeOpcoes{
        position: absolute;
        right: 100%;
        top: 6%;
        
       
        /* width: 25%; */
    }

}
@media (min-width: 481px) and (max-width: 768px) {
}
@media (min-width: 769px) and (max-width: 1024px) {
}
@media (min-width: 1025px) and (max-width: 1200px) {
}