.caixaDeOpcoes{
    position: fixed;
    display: flex;

    background-color: white;
    box-shadow: 0 4px 5px 0 rgba(12, 20, 50, 0.37);
    right: 10px;
    top: 42px;
    
    border-radius: 5px ;
    padding: 5px;
}
div > p{
    cursor: pointer;
}
div > p:hover{
    color: red;
}